// @import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
$primary-color:red;

body{
    background: rgb(255, 151, 31);
    color:$primary-color;
    padding: 0;
    margin: 20px 20px;
    height: 100%;
    position: relative;
    font-family: 'Gamja Flower', cursive;
    nav{
        box-sizing: border-box;
    }
    // h1{
    //     font-size: 50px;
    // }
}

.bg{
    position: relative;
    background-image: url('https://images.pexels.com/photos/756903/pexels-photo-756903.jpeg?cs=srgb&dl=autumn-autumn-colours-bright-756903.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
}

.overlay{
    background-color: rgba(228, 132, 23, 0.678);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .section{

        box-shadow: 1px 1px 15px black;
    }
    
    #section-a{
    color: white;
    main{
        border: solid 1px red;
        height: 90vh;
    }
}

#section-b{
    margin-top:1em; 
    border: solid 1px blue;
    
    
    .card{
        // width: 100%;
        // height: 20em;
        // align-content: stretch;
        // justify-content: space-between;
        // align-items: stretch;
    }

}


#section-c{
    height: 100vh;
}


