// @import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
$primary-color:red;

body{
    background: rgb(255, 151, 31);
    color:$primary-color;
    padding: 0;
    height: 100%;
    margin: 0;
    position: relative;
    font-family: 'Gamja Flower', cursive;
    nav{
        // box-sizing: border-box;
    }
    .navbar-brand{
        padding-top: 20px;
        padding-left: 25px;
    }
    .navbar-nav{
        padding-top: 20px;
        padding-right: 65px;
    }
    // h1{
    //     font-size: 50px;
    // }
}

.bg{
    position: relative;
    background-image: url('https://images.pexels.com/photos/756903/pexels-photo-756903.jpeg?cs=srgb&dl=autumn-autumn-colours-bright-756903.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay{
    background-color: rgba(228, 132, 23, 0.678);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    // box-shadow: 1px 1px 15px black;
}

#section-a{
color: white;
.container{
    margin:20px 26px;
}
main{
    height: 90vh;
    // width: 80%;
    }
}

#section-b{
    width: 100%;
    height: 100vh;
    margin-top:0;
    margin-bottom:0;
    .container2{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .row{
        width: 100%;
        height: 100%;
        margin:0;
        padding:0;
    }

    .col-sm-4{
        // width: 100%;
        margin: 0;
        padding: 0;
    }
    .card{
        width: 100%;
        height: 50%
        border-radius: 0;
    }
}


#section-c{
    height: 100vh;
    border: solid 1px red;
}


